FORMAT: 1A
HOST: http://api.knockrentals.com

# knock
Knock API is a service for vending and modifying data for knockrentals

# Group Authentication
Authenticating users through the **Knock API**

##Allowed HTTPs requests:

- `POST` - Creates or updates a resource
- `PUT` - Updates a resource
- `GET` - Retrieves a resource or list of resources
- `DELETE` - Delete a resource

# Group Appointments

## Appointment [/v1/appointments/{id}]
+ Parameters
    + id (string) ... ID of the appointment
+ Model (application/json)
    + Body

            {
                "created_time": "Wed, 03 Sep 2014 08:29:23 GMT",
                "end_time": "2014-09-08T08:00:00-07:00",
                "id": 2,
                "is_active": true,
                "manager_info": {
                    "bio": "I'm a doctor Jim",
                    "email": "mccoy@enterprise.com",
                    "first_name": "Leonard",
                    "job_title": "Doctor",
                    "last_name": "McCoy",
                    "manager_id": 1,
                    "phone": "206-333-2222",
                    "photo": null,
                    "verification_method": "text"
                },
                "manager_notes": null,
                "modified_time": "Wed, 03 Sep 2014 08:29:23 GMT",
                "renter_id": 2,
                "renter_notes": "Some renter written writings",
                "renter_visited": false,
                "start_time": "2014-09-08T08:15:00-07:00",
                "status": "requested",
                "type": "tour",
                "listing": {
                    "amenities": {
                        "appliances": null,
                        "common": "",
                        "laundry": null,
                        "parking_type": null,
                        "unit": [],
                        "utilities": {
                            "estimated_cost": null,
                            "included": []
                        },
                        "views": null
                    },
                    "basic": {
                        "bathrooms": 2,
                        "bedrooms": 2,
                        "price": 1495,
                        "shared_unit": "false",
                        "size": 1000,
                        "year_built": null
                    },
                    "debug": {
                        "raw_url": "https://mapleleafmanagement.appfolio.com/listings/listings/b038c0e7-066a-4e7c-b459-67af52a0224e",
                        "source": "appfolio",
                        "visibility": "internal"
                    },
                    "details": {
                        "description": {
                            "full": "2 bedroom, 2 bath townhouse style condominium in a very convenient location.  Features include large closets spaces, washer and dryer in unit, bamboo floors, wood burning fireplace, carpet is less than 6 months old and a small private terrace.  The master bedroom is located upstairs with a full bath.  Open and airy floor plan, very private and move-in ready.  One parking spot and additional storage. Great location with a 10 minute commute to downtown, easy access to the UW, Green Lake, Northgate.  Close to I-5, Aurora and Lake City Way which provides a quick commute to many other Seattle area communities and suburbs.   Move in ready condition.  No need for a car, you can either walk everywhere or it is just a short walk to the bus stop.Walk to.....Diva Espresso, Cooper's Ale House, Pagliacci Pizza, iBuger and Shake, Hudson Ale House, Chiang's Chinese, Roosevelt Ale House, Snappy Dragon, COA Mexican Restaurant, Reckless Video, Ace Hardware, Maple Leaf Grill and Maple Leaf Park.Indoor Cats Only with additional Pet Deposit.",
                            "short": "Townhouse Style Condo, Large Closets, Convenient"
                        },
                        "pets": {
                            "allowed": [],
                            "notes": ""
                        },
                        "smoking_allowed": null,
                        "wheelchair_access": null
                    },
                    "id": "054cfc34c7ec452af511cd5e2202c12966fc54a7",
                    "leasing": {
                        "application": {
                            "fee": "",
                            "link": "https://mapleleafmanagement.appfolio.com/listings/rental_applications/new?listable_uid=b038c0e7-066a-4e7c-b459-67af52a0224e&source=Website"
                        },
                        "available_date": null,
                        "company": {
                            "name": "Maple Leaf Management LLC",
                            "phone": "(206) 250-7367",
                            "url": "http://www.mapleleafmgt.com"
                        },
                        "terms": {
                            "deposit": null
                        }
                    },
                    "location": {
                        "address": {
                            "city": "Seattle",
                            "house": "8800",
                            "raw": "8800 20th Ave NE, #B101, Seattle, WA 98115",
                            "state": "WA",
                            "street": "20th Ave",
                            "unit": null,
                            "zip": "98115"
                        },
                        "geo": {
                            "coordinates": [
                                -122.306836,
                                47.692459
                            ],
                            "type": "point"
                        },
                        "name": "8800 20th Ave, 98115",
                        "property_type": "House"
                    },
                    "photos": [
                        "https://pa.cdn.appfolio.com/mapleleafmanagement/images/2a67fa03-1dc8-4b39-925f-55eb5cae7301/medium.jpg",
                        "https://pa.cdn.appfolio.com/mapleleafmanagement/images/ab72917b-d6e4-4f7a-abc6-e52034150b6b/medium.jpg",
                        "https://pa.cdn.appfolio.com/mapleleafmanagement/images/92188f1d-9a3e-4de3-99e7-54dbbd65153c/medium.jpg",
                        "https://pa.cdn.appfolio.com/mapleleafmanagement/images/ebd0b534-7c7e-488e-bf0f-8084f4d45efe/medium.jpg",
                        "https://pa.cdn.appfolio.com/mapleleafmanagement/images/f692fa9e-638a-4843-8000-b41dd83e5cfd/medium.jpg",
                        "https://pa.cdn.appfolio.com/mapleleafmanagement/images/41fd23a1-2fea-44d8-91d3-c75345792256/medium.jpg",
                        "https://pa.cdn.appfolio.com/mapleleafmanagement/images/af24c03e-1460-4b37-84b3-268743500ade/medium.jpg",
                        "https://pa.cdn.appfolio.com/mapleleafmanagement/images/d5087280-4b43-429c-88b6-5e68bca22011/medium.jpg"
                    ],
                    "promotions": "",
                    "social_urls": []
                }
            }

### Retrieve a single Appointment [GET]
+ Response 200
    [Appointment][]

### Cancel a single Appointment [DELETE]
+ Response 204

## Appointments Collection [/v1/appointments{?status,start,end}]
+ Model (application/json)
    + Body

            {
                "appointments": [
                    {
                        "created_time": "Wed, 03 Sep 2014 08:29:23 GMT",
                        "end_time": "2014-09-08T08:00:00-07:00",
                        "id": 2,
                        "is_active": true,
                        "manager_id": 1,
                        "manager_notes": null,
                        "modified_time": "Wed, 03 Sep 2014 08:29:23 GMT",
                        "renter_id": 2,
                        "renter_notes": "Some renter written writings",
                        "renter_visited": false,
                        "start_time": "2014-09-08T08:15:00-07:00",
                        "status": "visited",
                        "type": "tour",
                        "listing": {
                            "amenities": {
                                "appliances": null,
                                "common": "",
                                "laundry": null,
                                "parking_type": null,
                                "unit": [],
                                "utilities": {
                                    "estimated_cost": null,
                                    "included": []
                                },
                                "views": null
                            },
                            "basic": {
                                "bathrooms": 2,
                                "bedrooms": 2,
                                "price": 1495,
                                "shared_unit": "false",
                                "size": 1000,
                                "year_built": null
                            },
                            "debug": {
                                "raw_url": "https://mapleleafmanagement.appfolio.com/listings/listings/b038c0e7-066a-4e7c-b459-67af52a0224e",
                                "source": "appfolio",
                                "visibility": "internal"
                            },
                            "details": {
                                "description": {
                                    "full": "2 bedroom, 2 bath townhouse style condominium in a very convenient location.  Features include large closets spaces, washer and dryer in unit, bamboo floors, wood burning fireplace, carpet is less than 6 months old and a small private terrace.  The master bedroom is located upstairs with a full bath.  Open and airy floor plan, very private and move-in ready.  One parking spot and additional storage. Great location with a 10 minute commute to downtown, easy access to the UW, Green Lake, Northgate.  Close to I-5, Aurora and Lake City Way which provides a quick commute to many other Seattle area communities and suburbs.   Move in ready condition.  No need for a car, you can either walk everywhere or it is just a short walk to the bus stop.Walk to.....Diva Espresso, Cooper's Ale House, Pagliacci Pizza, iBuger and Shake, Hudson Ale House, Chiang's Chinese, Roosevelt Ale House, Snappy Dragon, COA Mexican Restaurant, Reckless Video, Ace Hardware, Maple Leaf Grill and Maple Leaf Park.Indoor Cats Only with additional Pet Deposit.",
                                    "short": "Townhouse Style Condo, Large Closets, Convenient"
                                },
                                "pets": {
                                    "allowed": [],
                                    "notes": ""
                                },
                                "smoking_allowed": null,
                                "wheelchair_access": null
                            },
                            "id": "054cfc34c7ec452af511cd5e2202c12966fc54a7",
                            "leasing": {
                                "application": {
                                    "fee": "",
                                    "link": "https://mapleleafmanagement.appfolio.com/listings/rental_applications/new?listable_uid=b038c0e7-066a-4e7c-b459-67af52a0224e&source=Website"
                                },
                                "available_date": null,
                                "company": {
                                    "name": "Maple Leaf Management LLC",
                                    "phone": "(206) 250-7367",
                                    "url": "http://www.mapleleafmgt.com"
                                },
                                "terms": {
                                    "deposit": null
                                }
                            },
                            "location": {
                                "address": {
                                    "city": "Seattle",
                                    "house": "8800",
                                    "raw": "8800 20th Ave NE, #B101, Seattle, WA 98115",
                                    "state": "WA",
                                    "street": "20th Ave",
                                    "unit": null,
                                    "zip": "98115"
                                },
                                "geo": {
                                    "coordinates": [
                                        -122.306836,
                                        47.692459
                                    ],
                                    "type": "point"
                                },
                                "name": "8800 20th Ave, 98115",
                                "property_type": "House"
                            },
                            "photos": [
                                "https://pa.cdn.appfolio.com/mapleleafmanagement/images/2a67fa03-1dc8-4b39-925f-55eb5cae7301/medium.jpg",
                                "https://pa.cdn.appfolio.com/mapleleafmanagement/images/ab72917b-d6e4-4f7a-abc6-e52034150b6b/medium.jpg",
                                "https://pa.cdn.appfolio.com/mapleleafmanagement/images/92188f1d-9a3e-4de3-99e7-54dbbd65153c/medium.jpg",
                                "https://pa.cdn.appfolio.com/mapleleafmanagement/images/ebd0b534-7c7e-488e-bf0f-8084f4d45efe/medium.jpg",
                                "https://pa.cdn.appfolio.com/mapleleafmanagement/images/f692fa9e-638a-4843-8000-b41dd83e5cfd/medium.jpg",
                                "https://pa.cdn.appfolio.com/mapleleafmanagement/images/41fd23a1-2fea-44d8-91d3-c75345792256/medium.jpg",
                                "https://pa.cdn.appfolio.com/mapleleafmanagement/images/af24c03e-1460-4b37-84b3-268743500ade/medium.jpg",
                                "https://pa.cdn.appfolio.com/mapleleafmanagement/images/d5087280-4b43-429c-88b6-5e68bca22011/medium.jpg"
                            ],
                            "promotions": "",
                            "social_urls": []
                        }
                    },
                    {
                        "created_time": "Wed, 03 Sep 2014 08:29:23 GMT",
                        "end_time": "2014-09-09T10:15:00-07:00",
                        "id": 3,
                        "is_active": true,
                        "manager_id": 1,
                        "manager_notes": null,
                        "modified_time": "Wed, 03 Sep 2014 08:29:23 GMT",
                        "renter_id": 2,
                        "renter_notes": "Some renter written writings",
                        "renter_visited": false,
                        "start_time": "2014-09-09T10:00:00-07:00",
                        "status": "confirmed",
                        "type": "tour",
                        "listing": {
                            "id": "511 San Juan Circle, 99504",
                            "icon": "fa-home",
                            "address": "511 San Juan Circle, 99504",
                            "city": "Anchorage",
                            "state": "AK",
                            "price": 1595,
                            "bedrooms": 3,
                            "bathrooms": 2,
                            "squareFeet": 1100,
                            "available": null,
                            "pets": [],
                            "geo": {
                                "longitude": -149.777217,
                                "latitude": 61.217465
                            },
                            "images": [
                                "https://photos.knockrentals.com/30ba145a-b67b-4ce6-82f2-63c7d533d2fa/medium.jpg",
                                "https://photos.knockrentals.com/3ea08774-7de3-49d4-9d3d-686d7518eb30/medium.jpg",
                                "https://photos.knockrentals.com/9c8b6077-abbb-4358-8436-b57f5aebbfd4/medium.jpg",
                                "https://photos.knockrentals.com/45904a15-31fe-4b06-9f05-c46bb488ccd9/medium.jpg",
                                "https://photos.knockrentals.com/d19470de-efe5-4a07-812f-c8ae4ccbad6b/medium.jpg",
                                "https://photos.knockrentals.com/b392ac16-93d9-4a68-b64b-980b96cc87aa/medium.jpg",
                                "https://photos.knockrentals.com/e7d1ed55-3327-4611-89c5-1e22b7a4e18e/medium.jpg",
                                "https://photos.knockrentals.com/17247cb2-c7b4-428c-b6dd-1ed1a5a58a21/medium.jpg",
                                "https://photos.knockrentals.com/99908f90-c340-4782-8d19-273acf46593e/medium.jpg",
                                "https://photos.knockrentals.com/388236a7-d5fa-406a-8206-5365e1b3fc5c/medium.jpg",
                                "https://photos.knockrentals.com/89bd2c4c-d6ae-4ab2-9cf2-bbe1b7549885/medium.jpg",
                                "https://photos.knockrentals.com/367660f2-b03f-4965-93dd-5d9c7ebdeb24/medium.jpg",
                                "https://photos.knockrentals.com/21541216-9ce9-4dab-b30f-c7b9c1c1ea14/medium.jpg",
                                "https://photos.knockrentals.com/89ad8771-a5a3-437d-8008-3d1f7ce61e8b/medium.jpg",
                                "https://photos.knockrentals.com/aaa42e35-2772-480b-a0b3-b74ff522ecc4/medium.jpg"
                            ]
                        }
                    },
                    {
                        "created_time": "Wed, 03 Sep 2014 08:29:23 GMT",
                        "end_time": "2014-09-10T13:30:00-07:00",
                        "id": 4,
                        "is_active": true,
                        "manager_id": 1,
                        "manager_notes": null,
                        "modified_time": "Wed, 03 Sep 2014 08:29:23 GMT",
                        "renter_id": 2,
                        "renter_notes": "Some renter written writings",
                        "renter_visited": false,
                        "start_time": "2014-09-10T13:15:00-07:00",
                        "status": "requested",
                        "type": "tour",
                        "listing": {
                            "amenities": {
                                "appliances": null,
                                "common": "",
                                "laundry": null,
                                "parking_type": null,
                                "unit": [],
                                "utilities": {
                                    "estimated_cost": null,
                                    "included": []
                                },
                                "views": null
                            },
                            "basic": {
                                "bathrooms": 2,
                                "bedrooms": 2,
                                "price": 1495,
                                "shared_unit": "false",
                                "size": 1000,
                                "year_built": null
                            },
                            "debug": {
                                "raw_url": "https://mapleleafmanagement.appfolio.com/listings/listings/b038c0e7-066a-4e7c-b459-67af52a0224e",
                                "source": "appfolio",
                                "visibility": "internal"
                            },
                            "details": {
                                "description": {
                                    "full": "2 bedroom, 2 bath townhouse style condominium in a very convenient location.  Features include large closets spaces, washer and dryer in unit, bamboo floors, wood burning fireplace, carpet is less than 6 months old and a small private terrace.  The master bedroom is located upstairs with a full bath.  Open and airy floor plan, very private and move-in ready.  One parking spot and additional storage. Great location with a 10 minute commute to downtown, easy access to the UW, Green Lake, Northgate.  Close to I-5, Aurora and Lake City Way which provides a quick commute to many other Seattle area communities and suburbs.   Move in ready condition.  No need for a car, you can either walk everywhere or it is just a short walk to the bus stop.Walk to.....Diva Espresso, Cooper's Ale House, Pagliacci Pizza, iBuger and Shake, Hudson Ale House, Chiang's Chinese, Roosevelt Ale House, Snappy Dragon, COA Mexican Restaurant, Reckless Video, Ace Hardware, Maple Leaf Grill and Maple Leaf Park.Indoor Cats Only with additional Pet Deposit.",
                                    "short": "Townhouse Style Condo, Large Closets, Convenient"
                                },
                                "pets": {
                                    "allowed": [],
                                    "notes": ""
                                },
                                "smoking_allowed": null,
                                "wheelchair_access": null
                            },
                            "id": "054cfc34c7ec452af511cd5e2202c12966fc54a7",
                            "leasing": {
                                "application": {
                                    "fee": "",
                                    "link": "https://mapleleafmanagement.appfolio.com/listings/rental_applications/new?listable_uid=b038c0e7-066a-4e7c-b459-67af52a0224e&source=Website"
                                },
                                "available_date": null,
                                "company": {
                                    "name": "Maple Leaf Management LLC",
                                    "phone": "(206) 250-7367",
                                    "url": "http://www.mapleleafmgt.com"
                                },
                                "terms": {
                                    "deposit": null
                                }
                            },
                            "location": {
                                "address": {
                                    "city": "Seattle",
                                    "house": "8800",
                                    "raw": "8800 20th Ave NE, #B101, Seattle, WA 98115",
                                    "state": "WA",
                                    "street": "20th Ave",
                                    "unit": null,
                                    "zip": "98115"
                                },
                                "geo": {
                                    "coordinates": [
                                        -122.306836,
                                        47.692459
                                    ],
                                    "type": "point"
                                },
                                "name": "8800 20th Ave, 98115",
                                "property_type": "House"
                            },
                            "photos": [
                                "https://pa.cdn.appfolio.com/mapleleafmanagement/images/2a67fa03-1dc8-4b39-925f-55eb5cae7301/medium.jpg",
                                "https://pa.cdn.appfolio.com/mapleleafmanagement/images/ab72917b-d6e4-4f7a-abc6-e52034150b6b/medium.jpg",
                                "https://pa.cdn.appfolio.com/mapleleafmanagement/images/92188f1d-9a3e-4de3-99e7-54dbbd65153c/medium.jpg",
                                "https://pa.cdn.appfolio.com/mapleleafmanagement/images/ebd0b534-7c7e-488e-bf0f-8084f4d45efe/medium.jpg",
                                "https://pa.cdn.appfolio.com/mapleleafmanagement/images/f692fa9e-638a-4843-8000-b41dd83e5cfd/medium.jpg",
                                "https://pa.cdn.appfolio.com/mapleleafmanagement/images/41fd23a1-2fea-44d8-91d3-c75345792256/medium.jpg",
                                "https://pa.cdn.appfolio.com/mapleleafmanagement/images/af24c03e-1460-4b37-84b3-268743500ade/medium.jpg",
                                "https://pa.cdn.appfolio.com/mapleleafmanagement/images/d5087280-4b43-429c-88b6-5e68bca22011/medium.jpg"
                            ],
                            "promotions": "",
                            "social_urls": []
                        }
                    }
                ]
            }

### List all Appointments [GET]
+ Parameters
    + status (optional, string) .. Status identifier. Valid values are 'requested', 'confirmed', or 'visited'. Only appointments with the provided state are returned./
    + start (optional, string) ... ISO timestamp. Only appointments that start on or after this date are returned.
    + end (optional, string) ... ISO timestamp. Only appointments that end on or before this date are returned.
+ Response 200
    [Appointments Collection][]

### Request an appointment [POST]
+ Request (application/json)

        {
            "manager_id": 1,
            "renter_id": 2,
            "listing_id": "9420d8f9202469a79df197455e9a595ff106f1cc",
            "timezone": "US/Pacific",
            "start_time": "2014-10-13 10:00",
            "end_time": "2014-10-13 12:00",
            "type": "tour",
            "manager_notes": "A note from the manager" (optional),
            "renter_notes": "Some renter written writings" (optional)
        }

+ Response 201 (application/json)
    [Appointment][]

## Confirm [/v1/appointments/{id}/confirm]
+ Parameters
    + id (string) ... ID of the appointment
+ Model

        {
            "id": 2,
            "confirmed": true,
            "dateConfirmed": "2014-09-08T08:00:00-07:00"
        }

### Confirm an appointment [PUT]
+ Response 204

### Cancel confirmation of appointment [DELETE]
+ Response 204

### Check if an appointment is confirmed [GET]
+ Response 200
    [Confirm][]

## Visit [/v1/appointments/{id}/visit]
+ Parameters
    + id (string) ... ID of the appointment
+ Model

        {
            "id": 2,
            "visited": true,
            "dateVisited": "2014-09-08T08:00:00-07:00"
        }

### Mark an appointment as having been visited [PUT]
+ Response 204

### Check if an appointment has been visited [GET]
+ Response 200
    [Visit][]


# Group Health
## Health Check [/v1/system/health/check/]
### Get health check [GET]
+ Response 200

        "superman wears chuck norris underwear"

## Health Details [/v1/system/health/details/]
### Get health details [GET]
+ Response 200 (application/json)

        {
            "database": true,
            "elasticsearch": true
        }

# Group Listing

## Listing [/v1/listing/{listing_id}/]

+ Model (application/json)

    + Body

            {
              "listings": {
                "amenities": {
                  "appliances": null,
                  "common": "",
                  "laundry": null,
                  "parking_type": null,
                  "unit": [],
                  "utilities": {
                    "estimated_cost": null,
                    "included": []
                  },
                  "views": null
                },
                "basic": {
                  "bathrooms": 1.5,
                  "bedrooms": 3.0,
                  "price": 1095.0,
                  "shared_unit": "false",
                  "size": 1532.0,
                  "year_built": null
                },
                "debug": {
                  "raw_url": "https://fresnomanagement.appfolio.com/listings/listings/24d529e2-c0c9-4932-92d5-89194bdd8378",
                  "source": "appfolio",
                  "visibility": "internal"
                },
                "details": {
                  "description": {
                    "full": "Charming 3 bedroom 2 bath home located on the corner lot includes a small bonus room that can be used office space or a play area.  Traditional Tower style home consists of built in cabinets throughout the home, detached 1 car garage, refrigerator and gas stove, laundry hookups located on the interior porch like setting. There is a covered patio that is great for entertaining and mature landscaping give you a nice and shady backyard.  Call today to schedule your appointment to view the inside as it won't last long!Fresno Management Companywww.FresnoPMC.com(559)438-9411BRE# 01795978",
                    "short": "Charming Tower Bungalow"
                  },
                  "pets": {
                    "allowed": [],
                    "notes": ""
                  },
                  "smoking_allowed": null,
                  "wheelchair_access": null
                },
                "id": "edf2bf3b291066e95cfeee8105248927db884bac",
                "leasing": {
                  "application": {
                    "fee": "",
                    "link": ""
                  },
                  "available_date": null,
                  "company": {
                    "name": "Fresno Management Company",
                    "phone": "(559) 438-9411",
                    "url": ""
                  },
                  "terms": {
                    "deposit": null
                  }
                },
                "location": {
                  "address": {
                    "city": "Fresno",
                    "house": "1005",
                    "raw": "1005 N. Thorne Ave., Fresno, CA 93728",
                    "state": "CA",
                    "street": "N Thorne Ave",
                    "unit": null,
                    "zip": "93728"
                  },
                  "geo": {
                    "coordinates": [
                      -119.813107,
                      36.755985
                    ],
                    "type": "point"
                  },
                  "name": "1005 N Thorne Ave, 93728",
                  "property_type": "House"
                },
                "photos": [
                  "https://photos.knockrentals.com535d8d6f-f39d-48d8-9782-7e35ba261fbd/medium.jpg",
                  "https://photos.knockrentals.com60177a25-8f1b-40a4-ad92-c1a417bfba62/medium.jpg",
                  "https://photos.knockrentals.com6321346b-120d-4ad5-b5d8-d1e8912ac00e/medium.jpg",
                  "https://photos.knockrentals.comf13679ad-ee7f-4145-9e63-ac5f4dff8038/medium.jpg",
                  "https://photos.knockrentals.com3466a9c9-cce4-4b80-8b1b-b59566eeacaa/medium.jpg",
                  "https://photos.knockrentals.comd9e77424-3ebf-4469-8255-a71b9ae47786/medium.jpg",
                  "https://photos.knockrentals.com2cdf758a-1ea6-442b-ad7c-3e71258cc6c6/medium.jpg",
                  "https://photos.knockrentals.comec10bdfd-ff24-427c-be15-7671a658612f/medium.jpg",
                  "https://photos.knockrentals.com9ca680a0-aa8d-4642-98ec-23bdd81a5d41/medium.jpg",
                  "https://photos.knockrentals.com89390baa-b292-4f23-a35a-ed7eee4da042/medium.jpg",
                  "https://photos.knockrentals.com497d8bce-c4c2-48a3-96ae-7e02287e625e/medium.jpg",
                  "https://photos.knockrentals.coma79a7a09-01d6-4446-8690-a769b69af102/medium.jpg",
                  "https://photos.knockrentals.com397958b4-aa64-4a21-8d0e-3d800bf20bcb/medium.jpg"
                ],
                "promotions": "",
                "social_urls": []
              }
            }

### Get Listing [GET]

+ Response 200

    [Listing][]

## Listing Openhouse [/v1/listing/{listing_id}/openhouse/]

+ Model (application/json)

    + Body

        {
            open_houses: [ ]
        }

### Get listing's openhouses [GET]

+ Response 200

    [Listing Openhouse][]

## Listing Calendar [/v1/listing/{listing_id}/calendar{?start,end}/]

+ Parameters

    + start (required, string, '2014-09-01T09:00-07:00') ... Timestamp in ISO 8601 for beginning of calendar period

    + end (required, string, '2014-10-13T13:00-07:00') ... Timestamp in ISO 8601 for end of calendar period

+ Model (application/json)

    + Body

        {
            "appointments": [ ],
            "open_houses": [ ],
            "availableTimes": [
                "2014-09-25T09:00-07:00",
                "2014-09-25T09:15-07:00",
                "2014-09-25T10:00-07:00",
                "2014-09-25T10:30-07:00",
                "2014-09-25T13:15-07:00",
                "2014-09-26T09:00-07:00",
                "2014-09-26T11:45-07:00",
                "2014-09-26T16:00-07:00",
                "2014-09-27T09:00-07:00",
                "2014-09-27T10:45-07:00",
                "2014-09-27T14:00-07:00",
                "2014-09-27T15:15-07:00",
                "2014-09-28T08:15-07:00",
                "2014-09-28T08:45-07:00",
                "2014-09-28T12:30-07:00"
            ]
        }

### Get listing's calendar [GET]

+ Response 200

    [Listing Calendar][]

# Group Manager
## Manager [/v1/manager/]
### Get this manager [GET]
+ Response 200 (application/json)

        {
            "manager": {
                "created_time": "Wed, 03 Sep 2014 06:41:48 GMT",
                "id": 1,
                "is_active": true,
                "modified_time": "Wed, 03 Sep 2014 06:41:48 GMT",
                "provider": "knock",
                "username": "spock@enterprise.com"
            }
        }

## Manager Info [/v1/manager/info]
### Get this manager's info [GET]
+ Response 200 (application/json)

        {
            "manager_info": {
                "bio": "I'm a doctor Jim",
                "email": "mccoy@enterprise.com",
                "first_name": "Leonard",
                "job_title": "Doctor",
                "last_name": "McCoy",
                "manager_id": 1,
                "phone": "206-333-2222",
                "photo": null,
                "verification_method": "text"
            }
        }

### Update this manager's info [POST]
+ Request

    + Body

            {
                "bio": "Still a doctor",
                "email": "mccoy@enterprise.com",
                "first_name": "Leonard",
                "job_title": "Doctor",
                "last_name": "McCoy",
                "phone": "206-222-3333",
                "photo": null,
                "verification_method": "text"
            }

+ Response 201 (application/json)
    
    + Body

            {
                "manager_info": 1
            }

## Manager Preferences [/v1/manager/preferences]
### Get this manager's preferences [GET]
+ Response 200 (application/json)

        {
            "manager": {
                "adjacent_showing_interval": "0:15:00",
                "all_showings": false,
                "concurrent_showing_visitors": 3,
                "income_requirement_multiplier": 2,
                "manager_id": 1
            }
        }

### Update this manager's preferences [POST]
+ Request

    + Body

            {
                "all_showings": false,
                "concurrent_showing_visitors": 3,
                "adjacent_showing_interval": 15,
                "income_requirement_multiplier": 1.5
            }
   
+ Response 201 (application/json)
    
    + Body

            {
                "manager_preferences": 1
            }


# Group Profile

## Profile [/v1/profile/]

+ Model (application/json)

    + Body

            {
                "profile": {
                    "bio": "Explore strange new worlds",
                    "co_tenants": 4,
                    "email": "kirk@enterprise.com",
                    "first_name": "Tiberius",
                    "income": "100000",
                    "job_title": "Captain",
                    "last_name": "Kirk",
                    "phone": "(206)765-4321",
                    "photo": null,
                    "renter_id": 8,
                    "verification_method": null
                }
            }

### Get Profile [GET]

+ Response 200

    [Profile][]

### Put Profile [PUT]

    Work in progress


# Group Renters

## Renters [/v1/renters/]

+ model (application/json)

    + Body

            {
              "result": [
                {
                  "created_time": "2014-09-04T16:51:02.715980+00:00",
                  "id": 1,
                  "is_active": true,
                  "modified_time": "2014-09-04T16:51:02.715980+00:00",
                  "provider": "knock",
                  "social_provider_id": null,
                  "username": "spock@enterprise.com"
                },
                {
                  "created_time": "2014-09-04T17:02:25.531546+00:00",
                  "id": 2,
                  "is_active": true,
                  "modified_time": "2014-09-04T17:02:25.531546+00:00",
                  "provider": "knock",
                  "social_provider_id": null,
                  "username": "kirk@enterprise.com"
                },
                {
                  "created_time": "2014-09-04T18:06:45.016349+00:00",
                  "id": 3,
                  "is_active": true,
                  "modified_time": "2014-09-04T18:06:45.016349+00:00",
                  "provider": "knock",
                  "social_provider_id": null,
                  "username": "mccoy@enterprise.com"
                },
                {
                  "created_time": "2014-09-06T21:06:11.369480+00:00",
                  "id": 4,
                  "is_active": true,
                  "modified_time": "2014-09-06T21:06:11.369480+00:00",
                  "provider": "linkedin",
                  "social_provider_id": "F89ce7D3CC",
                  "username": "uhura@enterprise.com"
                },
                {
                  "created_time": "2014-09-06T21:27:09.338640+00:00",
                  "id": 5,
                  "is_active": true,
                  "modified_time": "2014-09-06T21:27:09.338640+00:00",
                  "provider": "facebook",
                  "social_provider_id": "123412348094234",
                  "username": "scott@enterprise.com"
                },
                {
                  "created_time": "2014-09-12T01:09:51.753075+00:00",
                  "id": 6,
                  "is_active": true,
                  "modified_time": "2014-09-12T01:09:51.753075+00:00",
                  "provider": "facebook",
                  "social_provider_id": "9824234091234234",
                  "username": "sulu@enterprise.com"
                },
                {
                  "created_time": "2014-09-16T17:29:54.926851+00:00",
                  "id": 7,
                  "is_active": true,
                  "modified_time": "2014-09-16T17:29:54.926851+00:00",
                  "provider": "knock",
                  "social_provider_id": null,
                  "username": "chekov@enterprise.com"
                }
              ]
            }

### Get renters [GET]

+ Response 200

    [Renters][]

# Group Search

## Search [/v1/search/]

+ Model (application/json)

    + Body
   
             {
                  "num_results": 1,
                  "objects": {
                    "1005 N Thorne Ave, 93728": {
                      "coordinates": {
                        "latitude": 36.755985,
                        "longitude": -119.813107
                      },
                      "listings": [
                        {
                          "amenities": {
                            "appliances": null,
                            "common": "",
                            "laundry": null,
                            "parking_type": null,
                            "unit": [],
                            "utilities": {
                              "estimated_cost": null,
                              "included": []
                            },
                            "views": null
                          },
                          "basic": {
                            "bathrooms": 1.5,
                            "bedrooms": 3.0,
                            "price": 1095.0,
                            "shared_unit": "false",
                            "size": 1532.0,
                            "year_built": null
                          },
                          "debug": {
                            "raw_url": "https://fresnomanagement.appfolio.com/listings/listings/24d529e2-c0c9-4932-92d5-89194bdd8378",
                            "source": "appfolio",
                            "visibility": "internal"
                          },
                          "details": {
                            "description": {
                              "full": "Charming 3 bedroom 2 bath home located on the corner lot includes a small bonus room that can be used office space or a play area.  Traditional Tower style home consists of built in cabinets throughout the home, detached 1 car garage, refrigerator and gas stove, laundry hookups located on the interior porch like setting. There is a covered patio that is great for entertaining and mature landscaping give you a nice and shady backyard.  Call today to schedule your appointment to view the inside as it won't last long!Fresno Management Companywww.FresnoPMC.com(559)438-9411BRE# 01795978",
                              "short": "Charming Tower Bungalow"
                            },
                            "pets": {
                              "allowed": [],
                              "notes": ""
                            },
                            "smoking_allowed": null,
                            "wheelchair_access": null
                          },
                          "id": "edf2bf3b291066e95cfeee8105248927db884bac",
                          "leasing": {
                            "application": {
                              "fee": "",
                              "link": ""
                            },
                            "available_date": null,
                            "company": {
                              "name": "Fresno Management Company",
                              "phone": "(559) 438-9411",
                              "url": ""
                            },
                            "terms": {
                              "deposit": null
                            }
                          },
                          "location": {
                            "address": {
                              "city": "Fresno",
                              "house": "1005",
                              "raw": "1005 N. Thorne Ave., Fresno, CA 93728",
                              "state": "CA",
                              "street": "N Thorne Ave",
                              "unit": null,
                              "zip": "93728"
                            },
                            "geo": {
                              "coordinates": [
                                -119.813107,
                                36.755985
                              ],
                              "type": "point"
                            },
                            "name": "1005 N Thorne Ave, 93728",
                            "property_type": "House"
                          },
                          "photos": [
                            "https://photos.knockrentals.com/535d8d6f-f39d-48d8-9782-7e35ba261fbd/medium.jpg",
                            "https://photos.knockrentals.com/60177a25-8f1b-40a4-ad92-c1a417bfba62/medium.jpg",
                            "https://photos.knockrentals.com/6321346b-120d-4ad5-b5d8-d1e8912ac00e/medium.jpg",
                            "https://photos.knockrentals.com/f13679ad-ee7f-4145-9e63-ac5f4dff8038/medium.jpg",
                            "https://photos.knockrentals.com/3466a9c9-cce4-4b80-8b1b-b59566eeacaa/medium.jpg",
                            "https://photos.knockrentals.com/d9e77424-3ebf-4469-8255-a71b9ae47786/medium.jpg",
                            "https://photos.knockrentals.com/2cdf758a-1ea6-442b-ad7c-3e71258cc6c6/medium.jpg",
                            "https://photos.knockrentals.com/ec10bdfd-ff24-427c-be15-7671a658612f/medium.jpg",
                            "https://photos.knockrentals.com/9ca680a0-aa8d-4642-98ec-23bdd81a5d41/medium.jpg",
                            "https://photos.knockrentals.com/89390baa-b292-4f23-a35a-ed7eee4da042/medium.jpg",
                            "https://photos.knockrentals.com/497d8bce-c4c2-48a3-96ae-7e02287e625e/medium.jpg",
                            "https://photos.knockrentals.com/a79a7a09-01d6-4446-8690-a769b69af102/medium.jpg",
                            "https://photos.knockrentals.com/397958b4-aa64-4a21-8d0e-3d800bf20bcb/medium.jpg"
                          ],
                          "promotions": "",
                          "social_urls": []
                        }
                      ],
                      "type": "H"
                    }
                  },
                  "page": 1,
                  "total_pages": 1.0
                }

### Post search parameters [POST]

+ Request (application/json)

        {
          "price": {
            "low": 100,
            "high": 1200
          },
          "bedrooms": {
            "low": 2,
            "high": 5
          },
          "bathrooms": {
            "low": 1,
            "high": 4
          },
          "size": {
            "low": 0,
            "high": 2000
          },
          "shape": {
              "id": "fresno_high_fresno_ca",
              "type": "neighborhood"
          }
        }


+ Response 200

    [Search][]



## Search Suggest [/v1/search/suggest{?query}/]

+ Parameters
 
    + query (required, string, `was`) ... The beginning letters of a city name [minimum 3] 

+ Model (application/json)

    + Body
        
            {
                 "num_results": 5,
                 "page": 1,
                 "search_query": "was",
                 "suggestions": [
                   {
                     "center": {
                       "lat": 38.9041031,
                       "lon": -77.017229
                     },
                     "id": "washington_dc",
                     "score": 646449.0,
                     "text": "Washington, DC",
                     "type": "city"
                   },
                   {
                     "center": {
                       "lat": 40.7352483454,
                       "lon": -111.835355467
                     },
                     "id": "wasatch_hollow_salt_lake_city_ut",
                     "score": 1.0,
                     "text": "Wasatch Hollow, Salt Lake City, UT",
                     "type": "neighborhood"
                   },
                   {
                     "center": {
                       "lat": 35.5937752,
                       "lon": -119.3673065
                     },
                     "id": "wasco_ca",
                     "score": 1.0,
                     "text": "Wasco, CA",
                     "type": "city"
                   },
                   {
                     "center": {
                       "lat": 45.5916658,
                       "lon": -120.6974942
                     },
                     "id": "wasco_or",
                     "score": 1.0,
                     "text": "Wasco, OR",
                     "type": "city"
                   },
                   {
                     "center": {
                       "lat": 44.0822636,
                       "lon": -93.4998284
                     },
                     "id": "waseca_mn",
                     "score": 1.0,
                     "text": "Waseca, MN",
                     "type": "city"
                   }
                 ],
                 "total_pages": 1
            }

### Get search suggestion [GET]

+ Response 200

    [Search Suggest][]



# Group Static

## Sitemap [/v1/sitemap/]

+ Model (application/json)

    + Body

            {
              "routes": [
                {
                  "methods": [
                    "HEAD",
                    "OPTIONS",
                    "GET"
                  ],
                  "name": "/v1/system/health/details"
                },
                {
                  "methods": [
                    "HEAD",
                    "OPTIONS",
                    "GET"
                  ],
                  "name": "/v1/system/health/check"
                },
                {
                  "methods": [
                    "HEAD",
                    "OPTIONS",
                    "GET"
                  ],
                  "name": "/v1/calendar/request/"
                },
                {
                  "methods": [
                    "POST",
                    "OPTIONS"
                  ],
                  "name": "/v1/calendar/request/"
                },
                {
                  "methods": [
                    "HEAD",
                    "OPTIONS",
                    "GET"
                  ],
                  "name": "/v1/manager/preferences/"
                },
                {
                  "methods": [
                    "POST",
                    "OPTIONS"
                  ],
                  "name": "/v1/manager/preferences/"
                },
                {
                  "methods": [
                    "HEAD",
                    "OPTIONS",
                    "GET"
                  ],
                  "name": "/v1/manager/openhouse/"
                },
                {
                  "methods": [
                    "POST",
                    "OPTIONS"
                  ],
                  "name": "/v1/manager/openhouse/"
                },
                {
                  "methods": [
                    "HEAD",
                    "OPTIONS",
                    "GET"
                  ],
                  "name": "/v1/manager/calendar/"
                },
                {
                  "methods": [
                    "HEAD",
                    "OPTIONS",
                    "GET"
                  ],
                  "name": "/v1/manager/listing/"
                },
                {
                  "methods": [
                    "POST",
                    "OPTIONS"
                  ],
                  "name": "/v1/manager/listing/"
                },
                {
                  "methods": [
                    "HEAD",
                    "OPTIONS",
                    "GET"
                  ],
                  "name": "/v1/manager/hours/"
                },
                {
                  "methods": [
                    "POST",
                    "OPTIONS"
                  ],
                  "name": "/v1/manager/hours/"
                },
                {
                  "methods": [
                    "HEAD",
                    "OPTIONS",
                    "GET"
                  ],
                  "name": "/v1/manager/info/"
                },
                {
                  "methods": [
                    "POST",
                    "OPTIONS"
                  ],
                  "name": "/v1/manager/info/"
                },
                {
                  "methods": [
                    "HEAD",
                    "OPTIONS",
                    "GET"
                  ],
                  "name": "/v1/search/suggest/"
                },
                {
                  "methods": [
                    "POST",
                    "OPTIONS"
                  ],
                  "name": "/v1/auth/register"
                },
                {
                  "methods": [
                    "POST",
                    "OPTIONS"
                  ],
                  "name": "/v1/auth/validate"
                },
                {
                  "methods": [
                    "POST",
                    "OPTIONS"
                  ],
                  "name": "/v1/auth/facebook"
                },
                {
                  "methods": [
                    "POST",
                    "OPTIONS"
                  ],
                  "name": "/v1/auth/linkedin"
                },
                {
                  "methods": [
                    "HEAD",
                    "OPTIONS",
                    "GET"
                  ],
                  "name": "/v1/manager/"
                },
                {
                  "methods": [
                    "HEAD",
                    "OPTIONS",
                    "GET"
                  ],
                  "name": "/v1/profile/"
                },
                {
                  "methods": [
                    "PUT",
                    "OPTIONS"
                  ],
                  "name": "/v1/profile/"
                },
                {
                  "methods": [
                    "HEAD",
                    "POST",
                    "OPTIONS",
                    "GET"
                  ],
                  "name": "/v1/renters"
                },
                {
                  "methods": [
                    "HEAD",
                    "OPTIONS",
                    "GET"
                  ],
                  "name": "/v1/sitemap"
                },
                {
                  "methods": [
                    "POST",
                    "OPTIONS"
                  ],
                  "name": "/v1/search/"
                },
                {
                  "methods": [
                    "HEAD",
                    "OPTIONS",
                    "GET"
                  ],
                  "name": "/"
                },
                {
                  "methods": [
                    "POST",
                    "OPTIONS"
                  ],
                  "name": "/v1/calendar/request/<request_id>/status"
                },
                {
                  "methods": [
                    "HEAD",
                    "OPTIONS",
                    "GET"
                  ],
                  "name": "/v1/manager/openhouse/<open_house_id>"
                },
                {
                  "methods": [
                    "HEAD",
                    "OPTIONS",
                    "GET"
                  ],
                  "name": "/v1/manager/listing/<listing_id>"
                },
                {
                  "methods": [
                    "PUT",
                    "OPTIONS"
                  ],
                  "name": "/v1/manager/listing/<listing_id>"
                },
                {
                  "methods": [
                    "HEAD",
                    "OPTIONS",
                    "GET"
                  ],
                  "name": "/v1/listing/<listing_id>/openhouse/"
                },
                {
                  "methods": [
                    "HEAD",
                    "OPTIONS",
                    "GET"
                  ],
                  "name": "/v1/listing/<listing_id>/calendar/"
                },
                {
                  "methods": [
                    "HEAD",
                    "OPTIONS",
                    "GET"
                  ],
                  "name": "/v1/listing/<listing_id>"
                },
                {
                  "methods": [
                    "HEAD",
                    "OPTIONS",
                    "GET"
                  ],
                  "name": "/static/<path:filename>"
                }
              ]
            }

### Get sitemap [GET]

+ Response 200

    [Sitemap][]
