FORMAT: 1A
HOST: http://api.knockrentals.com

# knock
Knock API is a service for vending and modifying data for knockrentals

# Group Authentication
Authenticating users through the **Knock API**

##Allowed HTTPs requests:

- `POST` - Creates or updates a resource
- `PUT` - Updates a resource
- `GET` - Retrieves a resource or list of resources
- `DELETE` - Delete a resource

# Group Appointments

## Appointment [/v1/appointments/{id}]
+ Parameters
    + id (string) ... ID of the appointment
+ Model (application/json)
    + Body

            {
                "created_time": "Wed, 03 Sep 2014 08:29:23 GMT",
                "end_time": "2014-09-08T08:00:00-07:00",
                "id": 2,
                "is_active": true,
                "manager_id": 1,
                "manager_notes": null,
                "modified_time": "Wed, 03 Sep 2014 08:29:23 GMT",
                "renter_id": 2,
                "renter_notes": "Some renter written writings",
                "renter_visited": false,
                "start_time": "2014-09-08T08:15:00-07:00",
                "status": "requested",
                "type": "tour",
                "listing": {
                    "id":"511 San Juan Circle, 99504",
                    "icon":"fa-home",
                    "address":"511 San Juan Circle, 99504",
                    "city":"Anchorage",
                    "state":"AK",
                    "price":1595,
                    "bedrooms":3,
                    "bathrooms":2,
                    "squareFeet":1100,
                    "available":null,
                    "pets":[

                    ],
                    "geo":{
                        "longitude":-149.777217,
                        "latitude":61.217465
                        },
                        "images":[
                        "https://photos.knockrentals.com/30ba145a-b67b-4ce6-82f2-63c7d533d2fa/medium.jpg",
                        "https://photos.knockrentals.com/3ea08774-7de3-49d4-9d3d-686d7518eb30/medium.jpg",
                        "https://photos.knockrentals.com/9c8b6077-abbb-4358-8436-b57f5aebbfd4/medium.jpg",
                        "https://photos.knockrentals.com/45904a15-31fe-4b06-9f05-c46bb488ccd9/medium.jpg",
                        "https://photos.knockrentals.com/d19470de-efe5-4a07-812f-c8ae4ccbad6b/medium.jpg",
                        "https://photos.knockrentals.com/b392ac16-93d9-4a68-b64b-980b96cc87aa/medium.jpg",
                        "https://photos.knockrentals.com/e7d1ed55-3327-4611-89c5-1e22b7a4e18e/medium.jpg",
                        "https://photos.knockrentals.com/17247cb2-c7b4-428c-b6dd-1ed1a5a58a21/medium.jpg",
                        "https://photos.knockrentals.com/99908f90-c340-4782-8d19-273acf46593e/medium.jpg",
                        "https://photos.knockrentals.com/388236a7-d5fa-406a-8206-5365e1b3fc5c/medium.jpg",
                        "https://photos.knockrentals.com/89bd2c4c-d6ae-4ab2-9cf2-bbe1b7549885/medium.jpg",
                        "https://photos.knockrentals.com/367660f2-b03f-4965-93dd-5d9c7ebdeb24/medium.jpg",
                        "https://photos.knockrentals.com/21541216-9ce9-4dab-b30f-c7b9c1c1ea14/medium.jpg",
                        "https://photos.knockrentals.com/89ad8771-a5a3-437d-8008-3d1f7ce61e8b/medium.jpg",
                        "https://photos.knockrentals.com/aaa42e35-2772-480b-a0b3-b74ff522ecc4/medium.jpg"
                        ]
                    }
                }

### Retrieve a single Appointment [GET]
+ Response 200
    [Appointment][]

### Cancel a single Appointment [DELETE]
+ Response 204

## Appointments Collection [/v1/appointments{?status,start,end}]
+ Model (application/json)
    + Body

            {
                "appointments": [
                    {
                        "created_time": "Wed, 03 Sep 2014 08:29:23 GMT",
                        "end_time": "2014-09-08T08:00:00-07:00",
                        "id": 2,
                        "is_active": true,
                        "manager_id": 1,
                        "manager_notes": null,
                        "modified_time": "Wed, 03 Sep 2014 08:29:23 GMT",
                        "renter_id": 2,
                        "renter_notes": "Some renter written writings",
                        "renter_visited": false,
                        "start_time": "2014-09-08T08:15:00-07:00",
                        "status": "visited",
                        "type": "tour",
                        "listing": {
                            "id":"511 San Juan Circle, 99504",
                            "icon":"fa-home",
                            "address":"511 San Juan Circle, 99504",
                            "city":"Anchorage",
                            "state":"AK",
                            "price":1595,
                            "bedrooms":3,
                            "bathrooms":2,
                            "squareFeet":1100,
                            "available":null,
                            "pets":[

                            ],
                            "geo":{
                                "longitude":-149.777217,
                                "latitude":61.217465
                                },
                            "images":[
                            "https://photos.knockrentals.com/30ba145a-b67b-4ce6-82f2-63c7d533d2fa/medium.jpg",
                            "https://photos.knockrentals.com/3ea08774-7de3-49d4-9d3d-686d7518eb30/medium.jpg",
                            "https://photos.knockrentals.com/9c8b6077-abbb-4358-8436-b57f5aebbfd4/medium.jpg",
                            "https://photos.knockrentals.com/45904a15-31fe-4b06-9f05-c46bb488ccd9/medium.jpg",
                            "https://photos.knockrentals.com/d19470de-efe5-4a07-812f-c8ae4ccbad6b/medium.jpg",
                            "https://photos.knockrentals.com/b392ac16-93d9-4a68-b64b-980b96cc87aa/medium.jpg",
                            "https://photos.knockrentals.com/e7d1ed55-3327-4611-89c5-1e22b7a4e18e/medium.jpg",
                            "https://photos.knockrentals.com/17247cb2-c7b4-428c-b6dd-1ed1a5a58a21/medium.jpg",
                            "https://photos.knockrentals.com/99908f90-c340-4782-8d19-273acf46593e/medium.jpg",
                            "https://photos.knockrentals.com/388236a7-d5fa-406a-8206-5365e1b3fc5c/medium.jpg",
                            "https://photos.knockrentals.com/89bd2c4c-d6ae-4ab2-9cf2-bbe1b7549885/medium.jpg",
                            "https://photos.knockrentals.com/367660f2-b03f-4965-93dd-5d9c7ebdeb24/medium.jpg",
                            "https://photos.knockrentals.com/21541216-9ce9-4dab-b30f-c7b9c1c1ea14/medium.jpg",
                            "https://photos.knockrentals.com/89ad8771-a5a3-437d-8008-3d1f7ce61e8b/medium.jpg",
                            "https://photos.knockrentals.com/aaa42e35-2772-480b-a0b3-b74ff522ecc4/medium.jpg"
                            ]
                            }
                    },
                    {
                        "created_time": "Wed, 03 Sep 2014 08:29:23 GMT",
                        "end_time": "2014-09-09T10:15:00-07:00",
                        "id": 3,
                        "is_active": true,
                        "manager_id": 1,
                        "manager_notes": null,
                        "modified_time": "Wed, 03 Sep 2014 08:29:23 GMT",
                        "renter_id": 2,
                        "renter_notes": "Some renter written writings",
                        "renter_visited": false,
                        "start_time": "2014-09-09T10:00:00-07:00",
                        "status": "confirmed",
                        "type": "tour",
                        "listing": {
                            "id":"511 San Juan Circle, 99504",
                            "icon":"fa-home",
                            "address":"511 San Juan Circle, 99504",
                            "city":"Anchorage",
                            "state":"AK",
                            "price":1595,
                            "bedrooms":3,
                            "bathrooms":2,
                            "squareFeet":1100,
                            "available":null,
                            "pets":[

                            ],
                            "geo":{
                                "longitude":-149.777217,
                                "latitude":61.217465
                                },
                            "images":[
                            "https://photos.knockrentals.com/30ba145a-b67b-4ce6-82f2-63c7d533d2fa/medium.jpg",
                            "https://photos.knockrentals.com/3ea08774-7de3-49d4-9d3d-686d7518eb30/medium.jpg",
                            "https://photos.knockrentals.com/9c8b6077-abbb-4358-8436-b57f5aebbfd4/medium.jpg",
                            "https://photos.knockrentals.com/45904a15-31fe-4b06-9f05-c46bb488ccd9/medium.jpg",
                            "https://photos.knockrentals.com/d19470de-efe5-4a07-812f-c8ae4ccbad6b/medium.jpg",
                            "https://photos.knockrentals.com/b392ac16-93d9-4a68-b64b-980b96cc87aa/medium.jpg",
                            "https://photos.knockrentals.com/e7d1ed55-3327-4611-89c5-1e22b7a4e18e/medium.jpg",
                            "https://photos.knockrentals.com/17247cb2-c7b4-428c-b6dd-1ed1a5a58a21/medium.jpg",
                            "https://photos.knockrentals.com/99908f90-c340-4782-8d19-273acf46593e/medium.jpg",
                            "https://photos.knockrentals.com/388236a7-d5fa-406a-8206-5365e1b3fc5c/medium.jpg",
                            "https://photos.knockrentals.com/89bd2c4c-d6ae-4ab2-9cf2-bbe1b7549885/medium.jpg",
                            "https://photos.knockrentals.com/367660f2-b03f-4965-93dd-5d9c7ebdeb24/medium.jpg",
                            "https://photos.knockrentals.com/21541216-9ce9-4dab-b30f-c7b9c1c1ea14/medium.jpg",
                            "https://photos.knockrentals.com/89ad8771-a5a3-437d-8008-3d1f7ce61e8b/medium.jpg",
                            "https://photos.knockrentals.com/aaa42e35-2772-480b-a0b3-b74ff522ecc4/medium.jpg"
                            ]
                        }
                    }
                    {
                        "created_time": "Wed, 03 Sep 2014 08:29:23 GMT",
                        "end_time": "2014-09-10T13:30:00-07:00",
                        "id": 4,
                        "is_active": true,
                        "manager_id": 1,
                        "manager_notes": null,
                        "modified_time": "Wed, 03 Sep 2014 08:29:23 GMT",
                        "renter_id": 2,
                        "renter_notes": "Some renter written writings",
                        "renter_visited": false,
                        "start_time": "2014-09-10T13:15:00-07:00",
                        "status": "requested",
                        "type": "tour",
                        "listing": {
                            "id":"511 San Juan Circle, 99504",
                            "icon":"fa-home",
                            "address":"511 San Juan Circle, 99504",
                            "city":"Anchorage",
                            "state":"AK",
                            "price":1595,
                            "bedrooms":3,
                            "bathrooms":2,
                            "squareFeet":1100,
                            "available":null,
                            "pets":[

                            ],
                            "geo":{
                                "longitude":-149.777217,
                                "latitude":61.217465
                                },
                            "images":[
                            "https://photos.knockrentals.com/30ba145a-b67b-4ce6-82f2-63c7d533d2fa/medium.jpg",
                            "https://photos.knockrentals.com/3ea08774-7de3-49d4-9d3d-686d7518eb30/medium.jpg",
                            "https://photos.knockrentals.com/9c8b6077-abbb-4358-8436-b57f5aebbfd4/medium.jpg",
                            "https://photos.knockrentals.com/45904a15-31fe-4b06-9f05-c46bb488ccd9/medium.jpg",
                            "https://photos.knockrentals.com/d19470de-efe5-4a07-812f-c8ae4ccbad6b/medium.jpg",
                            "https://photos.knockrentals.com/b392ac16-93d9-4a68-b64b-980b96cc87aa/medium.jpg",
                            "https://photos.knockrentals.com/e7d1ed55-3327-4611-89c5-1e22b7a4e18e/medium.jpg",
                            "https://photos.knockrentals.com/17247cb2-c7b4-428c-b6dd-1ed1a5a58a21/medium.jpg",
                            "https://photos.knockrentals.com/99908f90-c340-4782-8d19-273acf46593e/medium.jpg",
                            "https://photos.knockrentals.com/388236a7-d5fa-406a-8206-5365e1b3fc5c/medium.jpg",
                            "https://photos.knockrentals.com/89bd2c4c-d6ae-4ab2-9cf2-bbe1b7549885/medium.jpg",
                            "https://photos.knockrentals.com/367660f2-b03f-4965-93dd-5d9c7ebdeb24/medium.jpg",
                            "https://photos.knockrentals.com/21541216-9ce9-4dab-b30f-c7b9c1c1ea14/medium.jpg",
                            "https://photos.knockrentals.com/89ad8771-a5a3-437d-8008-3d1f7ce61e8b/medium.jpg",
                            "https://photos.knockrentals.com/aaa42e35-2772-480b-a0b3-b74ff522ecc4/medium.jpg"
                            ]
                        }
                    }
                ]
            }

### List all Appointments [GET]
+ Parameters
    + status (optional, string) .. Status identifier. Valid values are 'requested', 'confirmed', or 'visited'. Only appointments with the provided state are returned./
    + start (optional, string) ... ISO timestamp. Only appointments that start on or after this date are returned.
    + end (optional, string) ... ISO timestamp. Only appointments that end on or before this date are returned.
+ Response 200
    [Appointments Collection][]

### Request an appointment [POST]
+ Request (application/json)

        {
            "manager_id": 1,
            "renter_id": 2,
            "listing_id": "9420d8f9202469a79df197455e9a595ff106f1cc",
            "timezone": "US/Pacific",
            "start_time": "2014-10-13 10:00",
            "end_time": "2014-10-13 12:00",
            "type": "tour",
            "manager_notes": "A note from the manager" (optional),
            "renter_notes": "Some renter written writings" (optional)
        }

+ Response 201 (application/json)
    [Appointment][]

## Confirm [/v1/appointments/{id}/confirm]
+ Parameters
    id (string) ... ID of the appointment
+ Model

        {
            "id": 2,
            "confirmed": true,
            "dateConfirmed": "2014-09-08T08:00:00-07:00"
        }

### Confirm an appointment [PUT]
+ Response 204

### Cancel confirmation of appointment [DELETE]
+ Response 204

### Check if an appointment is confirmed [GET]
+ Response 200
    [Confirm][]

## Visit [/v1/appointments/{id}/visit]
+ Parameters
    id (string) ... ID of the appointment
+ Model

        {
            "id": 2,
            "visited": true,
            "dateVisited": "2014-09-08T08:00:00-07:00"
        }

### Mark an appointment as having been visited [PUT]
+ Response 204

### Check if an appointment has been visited [GET]
+ Response 200
    [Visit][]


# Group Health
## Health Check [/v1/system/health/check/]
### Get health check [GET]
+ Response 200
```
    "superman wears chuck norris underwear"
```
## Health Details [/v1/system/health/details/]
### Get health details [GET]
+ Response 200 (application/json)
```
    {
        "database": true,
        "elasticsearch": true
    }
```

# Group Manager
## Manager [/v1/manager/]
### Get this manager [GET]
+ Request
    + Header

            Authorization: Bearer <manager-token>

+ Response 200 (application/json)

        {
            "manager": {
                "created_time": "Wed, 03 Sep 2014 06:41:48 GMT",
                "id": 1,
                "is_active": true,
                "modified_time": "Wed, 03 Sep 2014 06:41:48 GMT",
                "provider": "knock",
                "username": "daniel@knockrentals.com"
            }
        }

## Manager Info [/v1/manager/info]
### Get this manager's info [GET]
+ Request
    + Header

            Authorization: Bearer <manager-token>

+ Response 200 (application/json)

        {
            "manager_info": {
                "bio": "Doesn't like turtlenecks",
                "email": "fatisar@gmail.com",
                "first_name": "Daniel",
                "job_title": "Developer",
                "last_name": "Sarfati",
                "manager_id": 1,
                "phone": "210-216-6887",
                "photo": "steelydan.jpeg",
                "verification_method": "text"
            }
        }

### Update this manager's info [POST]
+ Request
    + Header

            Content-Type: application/json
            Authorization: Bearer <manager-token>

    + Body

            {
                "bio": "Doesn't like turtlenecks",
                "email": "fatisar@gmail.com",
                "first_name": "Daniel",
                "job_title": "Developer",
                "last_name": "Sarfati",
                "phone": "210-216-6887",
                "photo": "steelydan.jpeg",
                "verification_method": "text"
            }

+ Response 201 (application/json)
    + Body

            {
                "manager_info": 1
            }

## Manager Preferences [/v1/manager/preferences]
### Get this manager's preferences [GET]
+ Request
    + Header

            Authorization: Bearer <manager-token>

+ Response 200 (application/json)

        {
            "manager": {
                "adjacent_showing_interval": "0:15:00",
                "all_showings": false,
                "concurrent_showing_visitors": 3,
                "income_requirement_multiplier": 2,
                "manager_id": 1
            }
        }

### Update this manager's preferences [POST]
+ Request
    + Header

            Content-Type: application/json
            Authorization: Bearer <manager-token>
    + Body

            {
                "all_showings": false,
                "concurrent_showing_visitors": 3,
                "adjacent_showing_interval": 15,
                "income_requirement_multiplier": 1.5
            }
+ Response 201 (application/json)
    + Body

            {
                "manager_preferences": 1
            }

